:root {
  --text-color: rgb(245, 245, 245);
  --href-text-color: rgb(60, 60, 165);
  --page-background-color: rgb(30, 30, 30);
  --scrollbar-hover-color: rgb(90, 90, 90);

  --input-placeholder-color: rgb(200, 200, 200);
  --input-background-color: rgb(60, 60, 60);
  --input-border-color: rgb(113, 168, 236);

  --auth-form-border-color: var(--input-border-color);

  --button-background-color: var(--input-background-color);

  --loader-color: var(--input-border-color);
  --toastify-background-color: rgb(60, 60, 60);

  --danger-zone-color: rgb(120, 35, 35);
  --danger-zone-button-background-color: rgba(120, 35, 35, 0.5);

  --messages-list-border-color: rgb(90, 90, 90);
  --dialog-container-hovered-background-color: rgb(60, 60, 60);
  --hamburger-button-color: var(--text-color);

  --my-message-color: rgb(194, 120, 121);
  --recepient-message-color: var(--toastify-background-color);
  --online-indicator-color: rgb(113, 168, 236);
  --offline-indicator-color: rgb(180, 180, 180);
  --date-message-color: rgb(80, 80, 80);
  --info-message-color: rgb(200, 200, 200);
}

.light-theme {
  --text-color: rgb(10, 10, 10);
  --href-text-color: rgb(35, 35, 195);
  --page-background-color: rgb(245, 245, 245);
  --scrollbar-hover-color: rgb(190, 190, 190);

  --input-placeholder-color: rgb(100, 100, 100);
  --input-background-color: rgb(220, 220, 220);
  --input-border-color: rgb(113, 168, 236);

  --auth-form-border-color: var(--input-border-color);

  --button-background-color: var(--input-background-color);

  --loader-color: var(--input-border-color);
  --toastify-background-color: rgb(220, 220, 220);

  --danger-zone-color: rgb(160, 30, 30);
  --danger-zone-button-background-color: rgba(160, 30, 30, 0.5);

  --messages-list-border-color: var(--input-border-color);
  --dialog-container-hovered-background-color: rgb(215, 215, 215);
  --hamburger-button-color: var(--input-border-color);

  --my-message-color: var(--toastify-background-color);
  --recepient-message-color: rgb(200, 200, 200);
  --online-indicator-color: rgb(113, 168, 236);
  --offline-indicator-color: rgb(180, 180, 180);
  --date-message-color: rgb(180, 180, 180);
  --info-message-color: rgb(60, 60, 60);
}
