$font-size-smaller: clamp(0.625rem, 0.85dvw, 0.875rem);
$font-size-small: clamp(0.875rem, 1dvw, 1rem);
$font-size-medium: clamp(1rem, 1.25dvw, 1.25rem);
$font-size-large: clamp(1.25rem, 1.5dvw, 1.5rem);
