@mixin pageLayout {
  background-color: var(--page-background-color);
  width: 100%;
  min-height: 100dvh;
}

@mixin flexCenterColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
}
