@import '../../mixins.scss';

.pageDiv {
  display: flex;

  & > .layoutDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--page-background-color);
    border-right: var(--messages-list-border-color) 0.1rem solid;

    height: 100dvh;
    width: 25rem;

    @media (max-width: #{2 * 25rem}) {
      width: 100dvw;
      border-right: revert;

      &.selected {
        display: none;
      }
    }

    & > header {
      display: flex;
      gap: 1rem;
      margin: 0 1rem;
      align-items: center;

      & > div > span {
        color: var(--hamburger-button-color);
        font-size: 3rem;
      }

      & > input {
        height: 2rem;
      }
    }

    & > main {
      @include flexCenterColumn;
      @include scrollbar;

      & > .loaderDiv {
        padding: 1rem 0;
        width: 3rem;
      }

      & > .notFounded {
        padding: 1rem 0;
      }
    }
  }
}
