@import '../../constants.scss';

.dialogDiv {
  display: flex;
  align-items: center;
  gap: 1rem;
  user-select: none;

  width: 100%;
  padding: 1rem;
  border-top: var(--messages-list-border-color) 0.1rem solid;
  transition: background-color 0.2s ease;

  cursor: pointer;

  & > :first-child {
    height: 4rem;
  }

  & > :last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 18rem;
    padding: 0.5rem 0;

    @media (max-width: #{2 * 25rem}) {
      width: calc(100dvw - 7rem);
    }

    & > :first-child,
    & > :last-child > :first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > :last-child {
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 1rem;

      & > :first-child {
        margin-right: auto;
      }

      & > .notReadedBySelf {
        width: 1rem;
        aspect-ratio: 1/1;
        flex: none;

        border-radius: 50%;
        background-color: var(--online-indicator-color);
      }

      & > .notReadedByRecepient {
        flex: none;
        color: var(--info-message-color);
      }

      & > .readedByRecepient {
        flex: none;
        color: var(--online-indicator-color);
      }

      & > .messageTime {
        color: var(--info-message-color);
        font-size: $font-size-small;
        text-align: center;
      }
    }
  }

  &.selected {
    background-color: var(--dialog-container-hovered-background-color);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--dialog-container-hovered-background-color);
    }
  }
}
