.dialogDiv {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 100%;
  padding: 1rem;
  border-top: var(--messages-list-border-color) 0.1rem solid;
  transition: background-color 0.2s ease;

  cursor: pointer;

  & > :first-child {
    height: 4rem;
  }

  & > :last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 13rem;
    padding: 0.5rem 0;

    & > .lastMessage {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--dialog-container-hovered-background-color);
    }
  }
}
