.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);

  & > div {
    background-color: var(--page-background-color);
    padding: 1.5rem;
    border-radius: 2rem;

    & > div {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      gap: 1rem;

      & > button {
        background-color: var(--toastify-background-color);
        aspect-ratio: 4;
      }
    }
  }
}
