@import '../../constants.scss';

input {
  font-family: 'Roboto';
  font-size: $font-size-small;
  color: var(--text-color);
  width: 100%;

  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--input-background-color);
  border: 0.05rem solid transparent;

  &::placeholder {
    color: var(--input-placeholder-color);
  }

  &:focus {
    border-color: var(--input-border-color);
  }
}
