@import '../../_mixins.scss';
@import '../../constants.scss';

.pageDiv {
  @include pageLayout;
  @include flexCenterColumn;

  padding: 3rem 0;

  & > p {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
  }

  & > img {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    height: 2rem;
    cursor: pointer;
  }

  header {
    display: flex;
    align-items: flex-end;

    img {
      height: 2rem;
    }
  }

  main {
    margin-top: 20dvh;

    form {
      @include flexCenterColumn;
      gap: 2rem;

      & > div {
        @include flexCenterColumn;
        width: 100%;
        gap: 1rem;

        padding: 2rem;
        border: 0.05rem solid var(--auth-form-border-color);
        border-radius: 2rem;

        div {
          input.invalidInput {
            border-color: rgb(150, 0, 0);
          }

          p {
            margin-top: 0.25rem;
            color: rgb(200, 0, 0);
          }
        }
      }
    }

    p:last-of-type {
      font-size: $font-size-small;
    }
  }
}
