.dropdownDiv {
  position: relative;

  & > img {
    cursor: pointer;
    aspect-ratio: 1 / 1;
    height: 100%;
  }

  & > span {
    cursor: pointer;
    user-select: none;
  }

  & > ul.ulLeftDirection {
    left: revert;
    right: 0;
  }

  & > ul {
    z-index: 5;
    position: absolute;
    top: 100%;
    left: 0;

    & > :first-child {
      border-radius: 1rem 1rem 0 0;
    }

    & > :last-child {
      border-radius: 0 0 1rem 1rem;
    }

    & > :only-child {
      border-radius: 1rem;
    }

    & > li {
      cursor: pointer;
      background-color: var(--button-background-color);
      padding: 0.5rem;
      border: 0.05rem solid var(--button-background-color);

      & > span {
        white-space: nowrap;
        user-select: none;
      }

      @media (hover: hover) {
        &:hover {
          border-color: var(--input-border-color);
        }
      }
    }
  }
}
