@import '../../mixins.scss';

.pageDiv {
  display: flex;

  & > .layoutDiv {
    display: flex;
    flex-direction: column;
    background-color: var(--page-background-color);
    border-right: var(--messages-list-border-color) 0.1rem solid;

    height: 100dvh;
    width: 20dvw;
    min-width: 20rem;

    @media (max-width: #{2 * 20rem}) {
      width: 100dvw;
    }

    & > header {
      display: flex;
      gap: 1rem;
      margin: 0 1rem;
      align-items: center;

      & > div > span {
        color: var(--hamburger-button-color);
        font-size: 3rem;
      }

      & > input {
        height: 2rem;
      }
    }

    & > main {
      @include flexCenterColumn;

      & .loaderDiv {
        padding-top: 1rem;
        width: 3rem;
      }

      & .notFounded {
        padding-top: 1rem;
      }

      border-top: var(--messages-list-border-color) 0.1rem solid;
    }
  }
}
